.CONTENEDORprincipal{
    *width: 2000px;
    height: 800px;
    display: grid;
    display:flex;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding:20px;
    box-sizing: border-box;
	padding-top:60px;

}
.CONTENEDORderecho{
    *width: 1000px;
    height: 720px;
    *margin: 20px ;
  
   *justify-items: start;/*para ajustar por donde empieza los cuadros*/
position: relative;
  

}
.Contendorgrid{
    width: 750px;
    height: 800px;
    *margin: 20px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
   
 
    gap: 10px;
    border-radius: 8px;

}

.cartas1{
width: 226px;
height: 235px;
  
    
    gap: 10px;
    background-image: url("../65%.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
     position: relative;
	overflow: hidden;
  
}
.cartas2{
   width: 500px;
   height: 258px;
  margin-left: -80px;
    background-image: url("../110%.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
	overflow: hidden;
}
.cartas3{
width: 305px;
height: 161px;
   margin-top: -160px;
    background-image: url("../80%.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
	overflow: hidden;
  
}
.cartas4{
    width: 425px;
    height: 208px;
margin-top: -160px;
    background-image: url("../100%.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
	overflow: hidden;
}
/*.cartas5{
    grid-column: 1/13;
    grid-row: 7/12;
    border: 4px solid rgb(199, 207, 165);
    background-image: url(110%.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
	overflow: hidden;
}*/
/*.cartas6{
    background-image: url(descuento.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 12/13;
    grid-row: 1/3;
    border-radius: 8px;
    position: relative;
	overflow: hidden;
}*/

.sombras{
	width: 0%;
	height: 100%;
	background-color: rgba(56, 53, 53, 0.570);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.4s ease-in;
}
.sombras1{
	width: 0%;
	height: 100%;
	background-color: rgba(56, 53, 53, 0.570);
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.4s ease-in-out ;

}



.sombras h4{
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family:  sans-serif;
}
.cartas1:hover .sombras{
	width: 100%;

}
.cartas2:hover .sombras{
	width: 100%;

}.cartas3:hover .sombras1{
	width: 100%;

    

}.cartas4:hover .sombras1{
	width: 100%;

}.cartas5:hover .sombras{
	width: 100%;

}
    

.CONTENEDOR.IZQUIERDO{
    font-family: sans-serif;
    position: relative;
  
}
#background-video{
    width: 1050px;
    *height: 620px;
    margin-left: 20px;
    border: 2px solid rgba(139, 69, 19, 0);
 object-fit: cover;
 margin-top: 20px;
 border-radius: 15px;
}