@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");	

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

.logo1 {
    width: 60px;
    height: 60px;
margin-left: 400px;
	transition: all 0.5s ease-in-out ;
}



.logo1:hover{
    background-color: aliceblue;
	color: white;
	transform: rotate(720deg) scale(1.1);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}



h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	z-index: 10;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#main-header a {
	  /*Se puede quitar pero se quita el efecto hover*/ display: flex;
	}
	
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
    
}

/*
 * Navegación
 */
nav {
	margin-left: 500px;
    display: flex;
    height: 80px;
    z-index: 10;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	
        display:flex
	}
	
		nav ul li {
			height: auto;
			line-height: 50px;
            position: relative;
            *padding-right: 20px;
		}
			
			nav ul li a {
			
                text-align: center;
                padding : 14px;
                text-transform:uppercase ;
                font-size: 15px;
                transition: all 300ms ease-in ;
                color: rgba(255, 255, 255, 0.993);
                text-decoration: none;
                justify-content: center;
			
            }
            nav > ul > li > a:hover{
                *transform: scale(1.1);
                background: rgba(0, 0, 0, 0.664);
            border-radius: 15px;
                box-shadow:  0px 0px 0px 2px rgba(0, 0, 0, 0.5);
				color: rgb(255, 223, 78);
            }
	/*submenu*/
nav  ul li ul {
	width: 200px;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.664);
	padding: 20px 0px;
	position: absolute;
	top: 90px;
	left: -5px;
    box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	z-index: 530;
	transition: all 400ms ease;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	text-decoration: none;
}
nav ul li:hover ul {
	visibility: visible;
	opacity: 1;
	top: 82px;
	border-radius: 15px

    
}
nav ul li ul li a{
	display: block;
	color: rgb(255, 255, 255);
	padding: 14px 0px 14px 14px ;
	padding-left: 10px;
	margin-top: 14px; 
	transition: all 300ms ease;
	filter: brightness(200%);


}
nav >ul >li>ul >li >a:hover{
	background: rgb(78, 78, 78);
	color: rgb(255, 223, 78);
	transform: scale(1.1);
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0,1 );
	border-radius: 15px;
	filter: brightness(200%);

	
}


/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: sticky;
    top: 85px;
	border-top: 1px solid rgba(128, 128, 128, 0.411);
    border-bottom: 1px solid rgba(128, 128, 128, 0.452);
    justify-content: center;
    z-index: 2;
}

.container-category label{
    *padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 37px;
    justify-content: center;
    align-items: center;
    display: flex;
	color: #000000;
	font-family: "spartan";
	font-weight: 800;
}

.container-category label:hover{
    opacity: 0.8;
}
/*efectos de contenedor de filtrados*/

.a{
	position: relative;
	text-decoration: none;
	font-family: "Fjalla One" ;
	color: #fff9f9;
	font-size: 0px;
	letter-spacing: 0.5px;
	padding: 0 10px;
  
   
  }
  
  .a:after{
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
  }
  .a:hover{
	color: #ffffff;
	background: #000000
  }
  .a:hover:after{
	width: 100%;
  }



/*Post - Publicaciones*/

.container-post{
    max-width: 1500px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    *justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
}

.cartas{
      

     font-weight:bold;
     margin:10px;
     position:relative;
     overflow: hidden;
     background-size: cover;
     background-position:center;
    
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
     transition: all 0.3s ease-in-out;
     text-align: center;
     background-color: rgba(243, 243, 243, 0.445);
     border-radius: 10px;
	 font-family: "fjalla one";
	 cursor:pointer;
	
    

}

.cartas:hover{
    transform: translateY(-10px);
    box-shadow:0 10px 12px rgba(124, 124, 124, 0.3); 
	


}



.cartas h4{
   
    list-style: none;
    font-size: 16px;
    margin: 0px;
    padding: 6px 10px;
  
    cursor: pointer;
	background: transparent;
 
   }
  .cartas p{
   padding: 0 1rem;
   font-size: 16px;
   font-weight: 300;
   margin-bottom: 0px;
padding: 6px 10px;
  }

.cartas button{
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "fjalla one";
	cursor:pointer;
	font-style: italic;
}
.cartas button:hover{
	opacity: 0.5;


}
.post .cartas .foto3{
	width: 256px;
	height: 200px;
	object-fit: cover;
	
}

/*sistema de filtrado*/

[value="ALL"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="60%"]:checked ~ .posts .post:not([data-category~="60%"]),
[value="80%"]:checked ~ .posts .post:not([data-category~="80%"]),
[value="100%"]:checked ~ .posts .post:not([data-category~="100%"]),
[value="110%"]:checked ~ .posts .post:not([data-category~="110%"]),
[value="DUCKY"]:checked ~ .posts .post:not([data-category~="DUCKY"]),
[value="Varmilo"]:checked ~ .posts .post:not([data-category~="Varmilo"]){
    display: none;
}

[value="ALL"]:checked ~ .container-category [for="ALL"],
[value="60%"]:checked ~ .container-category [for="60%"],
[value="80%"]:checked ~ .container-category [for="80%"],
[value="100%"]:checked ~ .container-category [for="100%"],
[value="110%"]:checked ~ .container-category [for="110%"],
[value="DUCKY"]:checked ~ .container-category [for="DUCKY"],
[value="Varmilo"]:checked ~ .container-category [for="Varmilo"]{
    background: BLACK;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}