@import url ("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@ import url ("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
	
	
	*{}
	
	
body {
  *font-family: 'Josefin Sans', sans-serif;
  background-color: #f4f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23576357' fill-opacity='0.04' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
    margin: auto;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px;
}

.logo1 {
    width: 60px;
    height: 60px;
margin-left: 10px;
	transition: all 0.4s ;
}



.logo1:hover{
    background-color: aliceblue;
	color: white;
	transform: rotate(180deg);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}



h1 {
	font-size: 2.3em;
  line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	z-index: 10;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#main-header a {
		color: white;
       /*Se puede quitar pero se quita el efecto hover*/ display: flex;
	}
	
	
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 10px 0 0 20px;
	text-decoration: none;
	
    
}

	
	

/*
 * Navegación
 */
nav {
	*margin-left: 500px;
    display: flex;
    height: 80px;
    z-index: 10;
	margin: auto;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	
        display:flex
	}
	nav ul.nav-menu {
	flex: 1;
	*margin-left: 20px;
	align-items: center;
    justify-content: space-around;
	width: 70vw;
	}
	
		nav ul li {
			height: auto;
			line-height: 50px;
            position: relative;
            *padding-right: 20px;
		}
			
			nav ul li a {
			
                text-align: center;
                padding : 14px;
                text-transform:uppercase ;
                font-size: 15px;
                transition: all 300ms ease-in ;
                color: rgba(255, 255, 255, 0.993);
                text-decoration: none;
                justify-content: center;
			
            }
            nav > ul > li > a:hover{
                transform: scale(1.1);
                background: rgba(182, 25, 25, 0.432);
            border-radius: 15px;
                box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
            }
	/*submenu*/
nav  ul li ul {
	width: 200px;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.664);
	padding: 20px 0px;
	position: absolute;
	top: 90px;
	left: -5px;
    box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	z-index: 530;
	transition: all 400ms ease;
	visibility: hidden;
	opacity: 0;
	list-style: none;
	text-decoration: none;
}
nav ul li:hover ul {
	visibility: visible;
	opacity: 1;
	top: 70px;
	border-radius: 15px

    
}
nav ul li ul li a{
	display: block;
	color: seashell;
	padding: 14px 0px 14px 14px ;
	padding-left: 10px;
	margin-top: 14px; 
	transition: all 300ms ease;


}
nav >ul >li>ul >li >a:hover{
	background: rgb(78, 78, 78);
	color: white;
	transform: scale(1.1);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
/************ 
//------------------------------
// SEARCH BOX
//------------------------------
************

.box .search-box{
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check:checked ~ .search-box{
  max-width: 380px;
}
.search-box input{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 25px;
 background: #fff;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 18px;
}
.search-box .icon{
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #FFF;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #FF676D;
  font-size: 20px;
  border-radius: 25px;
}
#check:checked ~ .search-box .icon{
  background: #FF676D;
  color: #FFF;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check{
  display: none;
}

/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
	
    #slider {
		position: relative;
		width: 900px;
		height: 500px;
		margin: 45px auto;
		font-family: 'Helvetica Neue', sans-serif;
		perspective: 1400px;
		transform-style: preserve-3d;
		border: 10px black;
	 
	   
	  }
	  
	  input[type=radio] {
		position: relative;
		top: 108%;
		left: 50%;
		width: 18px;
		height: 18px;
		margin: 0 15px 0 0;
		opacity: 0.4;
		transform: translateX(-83px);
		cursor: pointer;
	  }
	  
	  /*Color */
	  input[type=radio] {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  appearance: none;

		  border-radius: 50%;
		  width: 16px;
		  height: 16px;

		  border: 2px solid #999;
		  transition: 0.2s all linear;
		  margin-right: 5px;

		  position: relative;
		}
     
		input[type=radio]:checked {
		  border: 6px solid black;
		}
	 
	  input[type=radio]:nth-child(5) {
		margin-right: 0px;
	  }
	  
	  input[type=radio]:checked {
		opacity: 1;
	  }
	  
	  .img{
		border-radius: 10px;}
	  
	  
	  #slider label {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		color: white;
		font-size: 70px;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 1000ms ease;
	  }

	  
	  /* Slider Functionality */
	  
	  /* Active Slide */
	  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
		box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
		transform: translate3d(0%, 0, 0px);
	  }
	  
	  /* Next Slide */
	  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
		box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
		transform: translate3d(15%, 0, -100px);
	  }
	  
	  
	  /* Next to Next Slide */
	  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
		box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
		transform: translate3d(30%, 0, -250px);
	  }
	  
	  /* Previous to Previous Slide */
	  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
		box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
		transform: translate3d(-30%, 0, -250px);
	  }
	  
	  /* Previous Slide */
	  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
		box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
		transform: translate3d(-15%, 0, -100px);
	  }

    /*grip principal*/

	.contenedor {
		width: 90%;
		max-width:1200px;
		margin:auto;
		padding:40px;
		display:flex;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1 auto;
		gap: 20px;
		z-index:-1;
	}
	.contenedor-duky{
	display: grid;
	grid-template-columns:   repeat(2,1fr) ;
	gap: 20px;
	
	}
	.onedogyear{
		
		 border-radius:22px;
		 min-height:300px;
		 font-weight:bold;
		 padding:20px;
		 position:relative;
		 overflow: hidden;
		 background-size: cover;
		 background-position:center;
	
}
/*efecto hover grip principal*/

.onedogyear .sombras{
	width: 0%;
	height: 100%;
	background-color: rgba(56, 53, 53, 0.570);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.4s ;
	
}
.sombras h1{
color: aliceblue;
text-shadow: 1px 1px 1px black;
font-size: 2.5rem;
text-transform: capitalize;
font-family:  sans-serif;
}

.onedogyear:hover .sombras{
	width: 100%;

}



	.textos{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	color:rgb(104, 102, 8);
	border: #000;
	}

/*grip secundario*/
    .contenedor1{
        width: 90%;
        max-width:1200px;
        margin:auto;
        padding:40px;
        display:flex;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1 auto ;
        gap: 20px;
      margin:  auto;
	  justify-content: center;
    
    }
    .contenedor-cajas{
        display: grid;
        grid-template-columns:   repeat(3,1fr) ;
        gap: 20px;  
    }
    .contenedor1 .cartas{
      
            width: 330px;
			height: 400px;
             font-weight:bold;
             margin:20px;
             position:relative;
             overflow: hidden;
             background-size: cover;
             background-position:center;
			 border-radius: 10px;
			 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
			 transition: all 0.3s ease-in-out;
			 text-align: center;
    }
    .contenedor1 .cartas:hover{
        transform: translateY(-15px);
        box-shadow:0 10px 12px rgba(0, 0,0 , 0.3); ;
    }
    
    
     
     .contenedor1 .cartas h4{
      font-weight:600;
	
    
     }
    .contenedor1 .cartas p{
     padding: 0 1rem;
     font-size: 16px;
     font-weight: 300;
    }

	.contenedor1 .cartas img{
		width: 360px;

	}
    .contenedor1 .cartas a{
        font-weight: 500;
        text-decoration: none;
        color: firebrick;
    }
    /*las fotos de diferentes dimensiones tienen que modificarlas una a una sino no funcioannan*/
     .foto1{
         width: 330px;
         height: 250px;
     }
     .foto{
        width: 330px;
         height: 250px; 
     }
	 
/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/

 /* Follow */
.social {
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  color: #616161;
  font-size: 12px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

 
 .footer {
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
		text-decoration: none;
	}
	#main-footer ul {
		list-style: none;
	}