@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
nav ul{
	
	font-family: "Fjalla One";
}
body{
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}
.cards{
    grid-template-columns: repeat(4,1fr);
    padding: 90px;
    grid-gap: 40px;
	display: grid;
    max-width: 1200px;
}
.card{
    *background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    height: 300px;
}
.card:hover {-webkit-transform:scale(0.9);
    transform:scale(1.1); 
    -webkit-transition: all .5s ease-in-out;
}
.card {overflow:hidden;}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

@-webkit-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}


.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
	opacity:0.5;
	/* https://www.gradient-animator.com/*/
	
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card22>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdc4A,
        #42ffdd
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    *color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  color: #555;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}
@element 'blockquote' and (min-width: 300px) {
  blockquote {
    padding: 1em 20% 1em 1em;
  }
  blockquote p {
    font-size: 14pt;
  }
  blockquote:nth-of-type(even) {
    padding: 1em 1em 1em 20%;
  }
}