
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");	
body{
   width: 1500px;
   margin: 0 auto;
   
}
    /**slider de foto de los teclados con menu foto*/
.contenedorcompra{
max-width: 1400;
display: flex;
margin: 50px;
padding: 0;
font-family:"SPARTAN";

}


.carrusel{
   
    width: 500px;
    margin: auto;
  
}

.carrusel ul{
    list-style: none;
  
    padding: 0;
    max-width: 600px;
    
    scroll-behavior: smooth ;
}


.carruselmenu{
   display: flex;
   gap: 2px; 
   margin-top: 20px;
   border-radius: 10px;
   max-width: 500px;
flex-wrap: wrap;
}

.carruselfoto img{
    width: 500px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    *box-shadow: 0px 0px 5px  inset rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
   
}

.carruselfoto img:hover{
    transform: scale(1.2);
}
.carruselfoto{
    display: flex;
    overflow: hidden;
    border-radius: 10px;
   
}

.carruselmenu img {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.5s;
}

.carruselmenu img:hover{
    opacity: 0.5;
    *border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.466);
} 
/*Partes de espeficicaciones------------------------------------------------*/
.compra{
  
    width: 550px;
  
  
   box-sizing: border-box;
   
   justify-content: center;
   color: #666;
 
}
.compra1{
 text-align: center;
 margin-left:-90px;
}
.letra{
  text-align: center;
  font-size: 2.0em;
line-height: 1.3em;
margin: 15px 0;
margin-left: -90px;
}


/*box de compra */
.cantidad{
  
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.308);
height: 380px;
width: 550px;
text-transform: uppercase;
    
}
.cantidad h2 {
background:rgba(165, 165, 165, 0.233);
position: relative;
border-bottom: 1px solid rgba(0, 0, 0, 0.308);
padding: 15px 24px;
margin-top: 0;

}


/* botones de switch*/

*input[type="radio"] {
    display:none;
}
.tipos{
    cursor: pointer;
    box-shadow:  0 1px rgb (131, 131, 131 0.5) ;
    align-items: center;
}
.tipos input:checked + .radio1 {
   *background-color: black ; 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
   transform: scale(1.4);
   border-radius: 10px;
   transition-delay: 0s;
}
.tipos input:checked + .radio2 {
    *background-color: black ; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.4);
    border-radius: 10px;
    transition-delay: 0s;
  
   
 
 }
 .tipos input:checked + .radio2:hover::after{
   
    transition-delay: 0s;

 } 
 .tipos input:checked + .radio1:hover::after{
   
    transition-delay: 0s;

 } 
 .tipos input:checked + .radio2:hover{
    transform: scale(3);
    z-index: 10;
    transition-delay: 1s;

 } 
 .tipos input:checked + .radio1:hover{
    transform: scale(3);
    z-index: 10;
    transition-delay: 1s;

 } 
.radio1{
    position: relative;
    float: left;
    object-fit: none;
    margin-left: 20px;
    margin-top: 30px;
    transition: all 1s ease-in-out;
  
}
.radio2{
    position: relative;
    float: left;
    object-fit: none;
   margin-left: 55px;
    margin-top: 30px;
    transition: all 1s ease-in-out;
   
}
.radio1 img{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    
}
.radio2 img{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    
}
*.radio1:hover {
    transform: scale(3) translate(-10px);
    z-index: 10;
    transition-delay: 1s;
    transition: all 2.5s ease-in-out;
    margin: 20px;
}
*.radio2:hover {
    transform: scale(3) ;
    
    z-index: 10;
    transition-delay: 1s;
    transition: all 2.5s ease-in-out;
    
    margin-left: 50px;

}

.sectionletra{
   *margin-left: 0%;
   width: 80px;
 
   align-items: center;
justify-content: center;
font-weight: bold;
font-size: 12px;
   
}


.section1{
    margin-top: 120px;
    justify-content: center;
    font-size: 10px ;
    font-weight: 800;
  
    display: flex;
    align-items: center;
}


.section1 span{
    margin-left: -10px;
}

/*boton unidades*/
.unidades {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em .4em .4em 5.0em;
    width: 200px;
    max-width: 100%; 
    box-sizing: border-box;
    *margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 45px 45px 45px 45px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    z-index: 1;
   margin-left: 0%;
   cursor: pointer;
    }
    .unidades::-ms-expand {
    display: none;
    }
    .select-css:hover {
    border-color: #888;
    }
    .select-css:focus {
    border-color: rgba(88, 88, 88, 0.733);
    box-shadow: 0 0 1px 1px rgba(66, 66, 66, 0.7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222; 
    outline: none;
    }
/*bootones de compra y anadir*/
    .boton{
    width: 180px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    background-color:orange;
    color:#f7f7f7;
    border:none;
    transition: all 0.5s;
    font-family:"SPARTAN";
      

    }

    

    .boton:hover{
      background-color: #f7f7f7;
      color: orange;
      border: 1px solid orange;
      cursor: pointer; 


    }

    
    .boton1{
        width: 470px;
        height: 45px;
        margin-left: 10px;
        border-radius: 10px;
        background-color:rgba(0, 0, 0, 0.767);
        color:#f7f7f7;
        border:none;
        transition: all 0.5s;
        margin-top: 20px;
        font-family:"SPARTAN";
     
    
        }
    
        .boton1:hover{
          background-color: #ffffff71;
          color: rgb(0, 0, 0);
          border: 1px solid orange;
          cursor: pointer; 
          
    
        }

     /*caracteristicas---------------------------------------------------------------------------*/
     

    .contenedorcompra2{
        width: auto;

    }
    .carruseldescrpcion{
        width: 1500px;  
     
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    *position: relative;
    top: 85px;
    background-color: rgba(104, 104, 104, 0.26);
    justify-content: center;
    z-index: 2;  
   
    }
    .carruseldescrpcion label{
        *padding: 6px 40px;
        margin: 10px;
        font-size: 20px;
        background: #e2e2e2;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        height: 37px;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: right 0.5 ;

    }

    .carruseldescripcion label:hover{
        opacity: 0.8;
        color: #f7f7f7;
        border-bottom: 1px solid orange;
        background-color: #222;
    }
    